/* Custom Calendar Styles to match "Jua" font and design */
.custom-calendar {
    font-family: 'Jua', sans-serif !important;
    background-color: transparent !important;
    border: none !important;
    width: 100% !important;
    line-height: 1.125em !important;
}

.react-calendar__navigation {
    display: flex;
    margin-bottom: 0.5rem;
    height: 44px;
}

.react-calendar__navigation button {
    min-width: 44px;
    background: none;
    font-size: 16px;
    font-family: 'Jua', sans-serif;
    color: #333;
}

.react-calendar__month-view__weekdays {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    color: #003C48;
    text-align: center;
    margin-bottom: 0.5rem;
    text-decoration: none !important;
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.react-calendar__month-view__days__day {
    font-family: 'Jua', sans-serif;
    color: #666;
    padding: 0 !important;
    /* Remove padding to let flex center work better with fixed aspect ratio */
    font-size: 14px;
    aspect-ratio: 1 / 1;
    display: flex !important;
    align-items: center;
    justify-content: center;
}


.react-calendar__tile abbr {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.react-calendar__tile--now {
    background: transparent !important;
}

.react-calendar__tile--now abbr {
    background: transparent !important;
    color: #FF5252 !important;
    border: none !important;
    font-weight: bold;
}

.react-calendar__tile--active {
    background: transparent !important;
}

.react-calendar__tile--active abbr {
    background: #00BDF8 !important;
    color: white !important;
}

.highlight-blue {
    background: transparent !important;
}

.highlight-blue abbr {
    border: 2px solid #00BDF8;
    border-radius: 50%;
    color: #00BDF8 !important;
}

/* Specific Style for Today + Schedule */
.react-calendar__tile--now.highlight-blue abbr {
    background-color: #E1F5FE !important;
    /* Light Blue BG to show Schedule */
    border: none !important;
    /* Remove Border per Request */
    color: #FF5252 !important;
    /* Red Text to show Today */
    font-weight: bold;
}

.highlight-blue-filled {
    background: transparent !important;
}

.highlight-blue-filled abbr {
    background-color: #00BDF8 !important;
    border-radius: 50%;
    color: white !important;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}